
/*Reset*/
*{
    padding:0;
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;

}

/*Font*/
#main-title{
    font-family: "gamay-wide", sans-serif;
    font-weight: 600;
    font-size: 50px;
    font-style:italic;
    color: #83f52c;
    margin-right: 10px

}

#pixel-title{
    font-family: "pf-pixelscript", sans-serif;
    font-weight: 500;
    font-size: 65px;
    font-style: normal; 
    color: rgb(255, 255, 255);
}

h3{
    font-size: 20px;
}

/*general*/
body{
    background-color: black;
    background-image: url(../img/backgroundpng.png);
    background-size: cover;
}
.un-container{
    margin:0 auto;
    width: 80%;
    border-radius: 10px;
}
h1{
    text-align:center;
    margin-top: 5;
    padding: 15px;
}

/* Header */
header{
    padding: 10px;
}

h1 #main-title, h1 #pixel-title{
    vertical-align:super;
}

/*Main*/
#description{
    color: rgb(255, 255, 255);
    text-align: center;
}

.main-container{
    display: inline-block;
    margin-top:50px;
    width:100%;
}

.main-container > *{
    float:left;
    width: calc((100%/3) - 30px);
    margin:15px;
}

.people{
    display: inline;
    border-radius: 10px;
    border: 1px solid whitesmoke;
    background-color: rgb(0, 0, 0);
}

.picture{
    float:left;
    height: 100px;
    width:100px;
    margin-right:10px;
    border-radius: 10px;
}

.name{
    margin-bottom: 5px;
    vertical-align:top;
    font-family: "gamay-wide", sans-serif;
    font-weight: 600;
    font-style:normal;
    color: #83f52c;
}

.job{
    margin-bottom: 5px;
    color:whitesmoke;
    font-family: "gamay-wide", sans-serif;
    font-weight: 300;
    font-style:italic; 
}

.mail{
    color:#ffffff;
    text-shadow: 0px 1px 15px #191919;
}

.people > *{
    vertical-align: center;
}

div.people::after{
    clear: both;
    display:block;
    content:"";
}

.people:hover{
    background-color: black;
    background-image: url(../img/guldo-hover.webp);
    background-size: cover;
    transition: 1.0s;
    padding: 15px;
    border:none;
    box-shadow: 1px 0px 30px #83f52c;
}